.container {
	background-color: hsl(0, 0%, 10%);
	height: 100vh;
	color: white;
}

.container h1 {
	text-align: center;
}

.information {
	width: 80%;
	margin: 0 auto;
}

.information h2 {
	padding: 2em 0;
}
