*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
	padding: 1em 2em;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}
